=begin
#Monitor API

#An API for an integrator to access the features of Docusign Monitor

OpenAPI spec version: v3.0
Contact: devcenter@docusign.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module DocuSign_Monitor

  class StreamOptions
    # Specifies a pointer into the dataset where your query will begin. You can either provide an ISO DateTime or a string cursor (from the `endCursor` value in the response). If no value is provided, the query begins from seven days ago.  For example, to fetch event data beginning from January 1, 2022, set this value to `2022-01-01T00:00:00Z`. The response will include data about events starting from that date in chronological order. The response also includes an `endCursor` property. To fetch the next page of event data, call this endpoint again with `cursor` set to the previous `endCursor` value. 
    attr_accessor :cursor

    # The maximum number of records to return.
    attr_accessor :limit

    def self.default
      @@default ||= StreamOptions.new
    end
  end


  class DocuMonitorApi
    attr_accessor :api_client

    def initialize(api_client = DocuMonitorApi.default)
      @api_client = api_client
    end

    # Gets customer event data for an organization.
    # Gets customer event data for the organization that owns the integration key.  The results for this endpoint are paginated by their event ingestion time, which can be up to five minutes after the event originally occurred. Use the `cursor` parameter to specify where the query begins in the dataset. Use the `limit` parameter to set the number of records returned.  For a detailed example of how to use `getStream` and retrieve monitoring data, see our guides [How to get monitoring data](/docs/monitor-api/how-to/get-monitoring-data/) and  [Tracking data and handling alerts](/docs/monitor-api/monitor101/tracking-data-handling-alerts/).  **Note**: data is not guaranteed to be in the order of the timestamp of the events. It is returned in the order it was inserted into our database.  ### Related topics  - [How to get monitoring data](/docs/monitor-api/how-to/get-monitoring-data/) - [Tracking data and handling alerts](/docs/monitor-api/monitor101/tracking-data-handling-alerts/)
    # @param organization_id 
    # @param DocuSign_Monitor::StreamOptions Options for modifying the behavior of the function.
    # @return [StreamResponse]
    def stream(organization_id, options = DocuSign_Monitor::StreamOptions.default)
      data, _status_code, _headers = stream_with_http_info(organization_id, options)
      return data
    end

    # Gets customer event data for an organization.
    # Gets customer event data for the organization that owns the integration key.  The results for this endpoint are paginated by their event ingestion time, which can be up to five minutes after the event originally occurred. Use the &#x60;cursor&#x60; parameter to specify where the query begins in the dataset. Use the &#x60;limit&#x60; parameter to set the number of records returned.  For a detailed example of how to use &#x60;getStream&#x60; and retrieve monitoring data, see our guides [How to get monitoring data](/docs/monitor-api/how-to/get-monitoring-data/) and  [Tracking data and handling alerts](/docs/monitor-api/monitor101/tracking-data-handling-alerts/).  **Note**: data is not guaranteed to be in the order of the timestamp of the events. It is returned in the order it was inserted into our database.  ### Related topics  - [How to get monitoring data](/docs/monitor-api/how-to/get-monitoring-data/) - [Tracking data and handling alerts](/docs/monitor-api/monitor101/tracking-data-handling-alerts/)
    # @param organization_id 
    # @param DocuSign_Monitor::StreamOptions Options for modifying the behavior of the function.
    # @return [Array<(StreamResponse, Fixnum, Hash)>] StreamResponse data, response status code and response headers
    def stream_with_http_info(organization_id, options = DocuSign_Monitor::StreamOptions.default)
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DocuMonitorApi.stream ..."
      end
      # verify the required parameter 'organization_id' is set
      fail ArgumentError, "Missing the required parameter 'organization_id' when calling DocuMonitorApi.stream" if organization_id.nil?
      # resource path
      local_var_path = "/v1/organizations/{organizationId}/stream".sub('{format}','json').sub('{' + 'organizationId' + '}', organization_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = options.cursor if !options.cursor.nil?
      query_params[:'limit'] = options.limit if !options.limit.nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StreamResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocuMonitorApi#stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end